<p>&nbsp;</p>
<h1 style="text-align: center;"><span style="text-decoration: underline;"><span style="color: #ff0000; background-color: #0000ff;"><strong>{{ flatpage.content }}</strong></span></span></h1>
<p style="text-align: center;"><span style="color: #ff0000; background-color: #0000ff;"><strong><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="Классно" /></strong></span></p>
<p style="text-align: center;"><span style="color: #ff0000; background-color: #0000ff;"><strong><img src="https://vsegda-pomnim.com/uploads/posts/2022-03/1647112831_44-vsegda-pomnim-com-p-reka-ressa-foto-53.jpg" alt="" width="724" height="483" /></strong></span></p>
<p style="text-align: center;">&nbsp;</p>